.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 7vh;
}

.home img{
   height:32vh;
   width: 17.5vw;
   border-radius: 50%;
    
}

.home h2{
    font-size: 160%;
    color:   rgb(155, 156, 157);
}

.home p {
    text-align: center;
    font-size: 130%;
    max-width: 50%;
}

.home ul {
    display: flex;
    flex-direction: row;
    margin-top: 7vh;
}

.home ul li {
list-style: none;
}

.home ul a {
color:rgb(65, 66, 68); 
transition: ease-in 0.3s;
}

.home ul a:hover{
    color: black;
    transform: translateY(-20px);
}


.home ul a li svg{
    width: 5vw;
    height: 5vh;
}