/* .home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 7vh;
}

.home img{
   height:30vh;
   width: 20%;
   border-radius: 50%;
    
}

.home h2{
    font-size: 160%;
    color:   rgb(155, 156, 157);
}

.home p {
    text-align: center;
    font-size: 130%;
    max-width: 50%;
}

.home ul {
    display: flex;
    flex-direction: row;
    margin-top: 7vh;
}

.home ul li {
list-style: none;
}

.home ul a {
color:rgb(65, 66, 68); 
transition: ease-in 0.3s;
}

.home ul a:hover{
    color: black;
    transform: translateY(-20px);
}


.home ul a li svg{
    width: 5vw;
    height: 5vh;
}

@media screen and (max-width:1100px) {
    .home{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 7vh;
    }
    
    .home img{
       height:25vh;
       width: 30%;
       border-radius: 50%;
        
    }
    
    .home h2{
        font-size: 100%;
        color:   rgb(155, 156, 157);
    }
    
    .home p {
        text-align: center;
        font-size: 80%;
        max-width: 50%;
    }
    
    .home ul {
        display: flex;
        flex-direction: row;
        padding-left: 1vw;
        margin-top: 7vh;
    }
    
    .home ul li {
    list-style: none;
    }
    
    .home ul a {
    color:rgb(65, 66, 68); 
    transition: ease-in 0.3s;
    }
    
    .home ul a:hover{
        color: black;
        transform: translateY(-20px);
    }
    
    
    .home ul a li svg{
        width: 5vw;
        height: 5vh;
        padding: 0 2vw;
    }
}



@media screen and (max-width:400px) {
    .home{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 7vh;
    }
    
    .home img{
       height:15vh;
       width: 40%;
       border-radius: 50%;
        
    }
    
    .home h2{
        font-size: 70%;
        color:   rgb(155, 156, 157);
    }
    
    .home p {
        text-align: center;
        font-size: 50%;
        max-width: 50%;
    }
    
    .home ul {
        display: flex;
        flex-direction: row;
       padding-left: 1vw;
        margin-top: 7vh;
    }
    
    .home ul li {
    list-style: none;
    }
    
    .home ul a {
    color:rgb(65, 66, 68); 
    transition: ease-in 0.3s;
    }
    
    .home ul a:hover{
        color: black;
        transform: translateY(-20px);
    }
    
    
    .home ul a li svg{
        width: 5vw;
        height: 5vh;
        padding: 0 2vw;
    }
} */


.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 7vh;
}

.home img{
  
   border-radius: 50%;
   max-width: 40vh;
   height: 40vh;
}

.home h2{
    font-size: 160%;
    color:   rgb(155, 156, 157);
}

.home p {
    text-align: center;
    font-size: 130%;
    max-width: 50%;
}

.home ul {
    display: flex;
    flex-direction: row;
    margin-top: 7vh;
}

.home ul li {
    list-style: none;
}

.home ul a {
    color:rgb(65, 66, 68); 
    transition: ease-in 0.3s;
}

.home ul a:hover{
    color: black;
    transform: translateY(-20px);
}

.home ul a li svg{
    width: 5vw;
    height: 5vh;
}

@media screen and (max-width:1100px) {
    .home img{
        border-radius: 50%;
        max-width: 30vh;
        height: 30vh;
    }
    
    .home h2{
        font-size: 100%;
    }
    
    .home p {
        font-size: 80%;
        max-width: 50%;
    }
    
    .home ul {
        padding-left: 1vw;
    }
    
    .home ul a li svg{
        padding: 0 2vw;
    }
}

@media screen and (max-width:500px) {
    .home img{
        border-radius: 50%;
        max-width: 20vh;
        height: 20vh;
    }
    
    .home h2{
        font-size: 70%;
    }
    
    .home p {
        font-size: 50%;
    }
    
    .home ul {
        padding-left: 1vw;
    }
    
    .home ul a li svg{
        padding: 0 2vw;
    }
}
